/*
///////////////////////////////////////////////////////////////////////////////////////// 
// Super Tables v0.30 - MIT Style License
// Copyright (c) 2008 Matt Murphy --- www.matts411.com
//
// Contributors:
// Joe Gallo
///////////////////////////////////////////////////////////////////////////////////////// 
*/
.sBase
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 400;
}

/* HEADERS */
.sHeader
{
    position: absolute;
    z-index: 3;
    background-color: #ffffff;
}

.sHeaderInner
{
    position: relative;
    z-index: 500;
}

.sHeaderInner table
{
    border-spacing: 0px 0px !important;
    border-collapse: collapse !important;
    width: 1px !important;
    table-layout: fixed !important;
    background-color: #ffffff; /* Here b/c of Opera 9.25 :( */
    z-index: 600;
}

/* HEADERS - FIXED */
.sFHeader
{
    position: absolute;
    z-index: 4;
    overflow: hidden;
}

.sFHeader table
{
    border-spacing: 0px 0px !important;
    border-collapse: collapse !important;
    width: 1px !important;
    table-layout: fixed !important;
    background-color: #ffffff; /* Here b/c of Opera 9.25 :( */
    z-index: 500;
}

/* BODY */
.sData
{
    position: absolute;
    z-index: 10000;
    overflow: auto;
    background-color: #ffffff;
}

.sData table
{
    /*border-spacing: 0px 0px !important;*/
    border-collapse: collapse !important;
    width: 1px !important;
    table-layout: fixed !important;
    z-index: 500;
}

/* BODY - FIXED */
.sFData
{
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
}

.sFDataInner
{
    position: relative;
    z-index: 500;
}

.sFData table
{
    /*border-spacing: 0px 0px !important;*/
    border-collapse: collapse !important;
    width: 1px !important;
    table-layout: fixed !important;
    z-index: 600;
}

/*
///////////////////////////////////////////////////////////////////////////////////////// 
// Super Tables - Skin Classes
// Remove if not needed
///////////////////////////////////////////////////////////////////////////////////////// 
*/

/* sDefault */
.sDefault
{
    margin: 0px;
    padding: 0px;
    border: none;
}
.sDefault th, .sDefault td
{
    border: 1px solid #cccccc;
    /*padding: 3px 6px 3px 4px;*/
    white-space: nowrap;
}
.sDefault th
{
    border-color: #c5c5c5;
}
.sDefault-Fixed
{
    background-color: #eeeeee;
    border-color: #c5c5c5;
}

/* sSky */
.sSky
{
    margin: 0px;
    padding: 0px;
    border: none;
}
.sSky th, .sSky td
{
    border: 1px solid #9eb6ce;
    padding: 3px 6px 3px 4px;
    white-space: nowrap;
}
.sSky th
{
    background-color: #CFDCEE;
}
.sSky-Fixed
{
    background-color: #e4ecf7;
}

/* sOrange */
.sOrange
{
    margin: 0px;
    padding: 0px;
    border: none;
}
.sOrange th, .sOrange td
{
    border: 1px solid #cebb9e;
    padding: 3px 6px 3px 4px;
    white-space: nowrap;
}
.sOrange th
{
    background-color: #ECD8C7;
}
.sOrange-Fixed
{
    background-color: #f7ede4;
}

/* sDark */
.sDark
{
    margin: 0px;
    padding: 0px;
    border: none;
    color: #ffffff;
}
.sDark th, .sDark td
{
    border: 1px solid #555555;
    padding: 3px 6px 3px 4px;
    white-space: nowrap;
}
.sDark th
{
    background-color: #000000;
}
.sDark-Fixed
{
    background-color: #222222;
}
.sDark-Main
{
    background-color: #333333;
}

.fixed-header
{
    /* The parent container */
    margin: 20px;
    padding: 0px;
    border: none;
    overflow: hidden; /* Required to set */
}