﻿<%@ Page Language="VB" AutoEventWireup="false" EnableViewState="false" CodeFile="default.aspx.vb" Inherits="SignDocument"
    EnableViewStateMac="false" ValidateRequest="false" %>

<%  
    signDocument()
%>