.stat {	
	margin-top: 2.25em;
}

.stat:first-child {
	margin-top: 0;
}

.stat .stat-header {	
	display: table;
	
	width: 100%;
	
	margin-bottom: .5em;
}

.stat-value {
	display: table-cell;
	
	width: 50%;
	
	margin-top: -1.15em;
	
	color: #666;
	
	font-size: 20px;
	font-weight: 600;
	text-align: right;
	text-transform: uppercase;
}

.stat-label {
	display: table-cell;
	
	width: 50%;
	
	color: #999;
	
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	
}

.stat .progress {
	margin-bottom: 0;
}

.stat .stat-note {
	margin-top: .65em;
	
	color: #888;
	
	font-style: italic;
}

.article-info .title {
	font-weight: bold;
	color: #1163A3;
}

.article-info .date {
	font-weight: bold;
	color: #666;
}

div.article {
	font-size: 12px;
}

div.post
{
	margin-left: 105px;	
}

div.calendar-page {
	float: left;
	width: 45px;
	height: 37px;
	background-image:url(/img/icons/calendar-page.png);
	background-repeat: no-repeat;
}

div.calendar-spacer {
	float: left;
	width: 45px;
	height: 37px;
	background-image: none;	
}

div.calendar-page .month {
	font-size: 9px;
	margin-left: 11px;
	margin-top: 2px;
	color: #FFFFFF;
}

div.calendar-page .day {
	font-size: 14px;
	margin-left: 12px;
	margin-top: -5px;
	color: #000000;
	font-weight: bold;
}

div.profile
{
	float: left;
	margin-right: 8px;	
}

.call-row {
	display: table;	
	margin-top: -20px;
	width: 100%;	
	padding-top:20px;
	height: 50px;
	border-top: 1px dotted #CCC;
}

.call-row button {
	margin-right:20px;
}

.call-row:first-child {
	border-top: none;
	margin-top:0px;
	padding-top: 0px;
}

.call-label {
	display: table-cell;
	padding-left: 15px;
	
	vertical-align: top;
	width: 200px;
	
	font-weight: 600;
}

.call-content {
	position: relative;	
	display: table-cell;
	padding-right: 15px;
	vertical-align: central ;
}

i.large-icon {
	font-size: 28px;	
}

.green {
	color: green;	
}

.red {
	color: red;
}

.blue {
	color: blue;	
}

.row-highlight {
	 background-color: #FFFFB3!important;
}