/* ============================================================================================================================
== BUBBLE BLOCKQUOTE STYLE
** ============================================================================================================================ */

blockquote {
	text-align: left;
    margin:1em 0;
}

blockquote p {
    margin:0;
	font-size: 13px;
	color: #FFFFFF;
}

blockquote p strong {
    margin:0; 
	color: #FFFFFF;
	font-weight: bold;
}

/* ============================================================================================================================
== BUBBLE WITH A RIGHT-ANGLED TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right, .no-triangle-right {
	position:relative;
	padding:8px;
	margin:2em 1em 3em ;
	color:#fff;
	background:#00215A; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#00215A), to(#00215A));
	background:-moz-linear-gradient(#00215A, #00215A);
	background:-o-linear-gradient(#00215A, #00215A);
	background:linear-gradient(#00215A, #00215A);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right.top, .no-triangle-right.top {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#00215A), to(#00215A));
	background:-moz-linear-gradient(#00215A, #00215A);
	background:-o-linear-gradient(#00215A, #00215A);
	background:linear-gradient(#00215A, #00215A);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right.left, .no-triangle-right.left {
	margin-left:40px;
	background:#00215A;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right.right, .no-triangle-right.right {
	margin-right:40px;
	background:#00215A;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#00215A transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : right aligned
------------------------------------------ */

.align-right:after {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:90%; /* controls horizontal position */
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#00215A transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-right.top:after {
	top:-20px; /* value = - border-top-width - border-bottom-width */
	right:50px; /* controls horizontal position */
	bottom:auto;
	left:auto;
	border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #00215A; 
}

/* Variant : left
------------------------------------------ */

.triangle-right.left:after {
	top:16px; 
	left:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #00215A; 
}

/* Variant : right
------------------------------------------ */

.triangle-right.right:after {
	top:16px; 
	right:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
    left:auto;
	border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
	border-color:transparent #00215A ; 
}

/* THE SPEECH BUBBLE - GREEN
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right-green, .no-triangle-right-green {
	position:relative;
	padding:15px;
	margin:2em 1em 3em ;
	color:#fff;
	background:#0C5D9D; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#5C9101), to(#5C9101));
	background:-moz-linear-gradient(#5C9101, #5C9101);
	background:-o-linear-gradient(#5C9101, #5C9101);
	background:linear-gradient(#5C9101, #5C9101);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right-green.top, .no-triangle-right-green.top {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#5C9101), to(#5C9101));
	background:-moz-linear-gradient(#5C9101, #5C9101);
	background:-o-linear-gradient(#5C9101, #5C9101);
	background:linear-gradient(#5C9101, #5C9101);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right-green.left, .no-triangle-right-green.left {
	margin-left:40px;
	background:#5C9101;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right-green.right, .no-triangle-right-green.right {
	margin-right:40px;
	background:#5C9101;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right-green:after {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#5C9101 transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : right aligned
------------------------------------------ */

.align-right-green:after {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:90%; /* controls horizontal position */
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#5C9101 transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-right-green.top:after {
	top:-20px; /* value = - border-top-width - border-bottom-width */
	right:50px; /* controls horizontal position */
	bottom:auto;
	left:auto;
	border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #5C9101; 
}

/* Variant : left
------------------------------------------ */

.triangle-right-green.left:after {
	top:16px; 
	left:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #5C9101; 
}

/* Variant : right
------------------------------------------ */

.triangle-right-green.right:after {
	top:16px;
	right:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
    left:auto;
	border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
	border-color:transparent #5C9101;
}

.message-status {
	margin: -30px 0px 0px 100px;
}

.message-status-right {
	text-align: right;
	margin: -30px 90px 0px 0px;	
}

#stopWatch {
	font-size: 24px;
}

li.invalid a {
	color: red;	
}

li.invalid a:hover {
	color: red;	
	background-color: #000;
}

#notes-table .title, #system-notes-table .title {
	color: #1163A3;
}

#notes-table .date, #system-notes-table .date {
	color: #666;
}

#notes-table .sticky, #system-notes-table .sticky {
	background-color: #d7e8f8;
}

.page-select {
	position: fixed;	
	width: 95%;
	background-color: #FFF;
	z-index: 10000;
	border: 1px solid #CCC;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;	
	padding: 2px 2px 2px 10px;
}

/*Sourcing
------------------------------------------------------*/

.quoteFilters
{
    width: 98%;
    background-color: #E1E1E1;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin: 0px 0px 0px 0px;
	padding:15px;
}

.truecostterm{
	background-color:#D41B8F !important;
	cursor:default !important;
	border:none;
	color:#fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-weight:400 !important;
	font-size:13px;
	margin-bottom:1px;
	height:11px;
}
