﻿<%@ Page Language="VB" AutoEventWireup="false" EnableViewState="false" CodeFile="clicktodial.aspx.vb" Inherits="ClickToDial"
    EnableViewStateMac="false" ValidateRequest="false" %>

<%  
    clickToDial()
%>