﻿<%@ Page Language="VB" AutoEventWireup="false" EnableViewState="false" CodeFile="endhotkey.aspx.vb" Inherits="EndHotKey"
    EnableViewStateMac="false" ValidateRequest="false" %>

<%  
    endHotkey()
%>