﻿<%@ Page Language="VB" AutoEventWireup="false" EnableViewState="false" CodeFile="resetcustomerpassword.aspx.vb" Inherits="ResetCustomerPassword"
    ValidateRequest="false" %>

<%  
    resetCustomerPassword()
%>
