﻿<%@ Page Language="VB" AutoEventWireup="false" EnableViewState="false" CodeFile="updatecustomerlogon.aspx.vb" Inherits="UpdateCustomerLogon"
    ValidateRequest="false" %>

<%  
    updateCustomerLogon()
%>
